<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<form action="#" th:action="@{/user/registration}" th:object="${user}" method="post" role="form">
    <h2>Registration</h2>
    <div>
        <label th:if="${#fields.hasErrors('nick')}" th:error="*{nick}"></label>
        <input th:type="text" th:field="*{nick}" placeholder="Nick" >
    </div>
    <div>
        <label th:if="${#fields.hasErrors('password')}" th:error="*{password}"></label>
        <input th:type="text" th:field="*{password}" placeholder="Password" >
    </div>

    <div>
        <button type="submit">Register User</button>
    </div>

    <h2><span th:utext="${successMessage}"></span> </h2>

</form>

</body>
</html>