<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nick</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2">No users available</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.nick}"></span></td>
    </tr>
    </tbody>
</table>


</body>
</html>